.places {
    margin: 92px auto;
    max-width: 984px;
    padding: 0 48px;
}

@media screen and (max-width: calc(768px + 48px*2)) {
    .places {
        max-width: 768px;
        padding: 0 24px;
    }
}

@media screen and (max-width: 1023px) {
    .places {
        margin: 88px auto;
    }
}

@media screen and (max-width: 767px) {
    .places {
        margin: 64px auto;
        padding: 0;
    }
}